
header {

    border: 3px solid black;

    display: flex;
    justify-content:end;
    align-items: center;
    margin-bottom: 7rem;
    margin-top: 2rem;
    padding: 10px 20px;

}



.nav {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    border: 1px solid black;

}


.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.li {
    margin: 0 10px;
    margin-left: 50rem;
    font-size:x-large;
}

.li3 {
    margin: 0 10px;
    margin-right: 50rem;
    font-size:x-large;
}